<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/girisyap.css">
    <title>Giriş Yap</title>
</head>
<body>
    <div class="container">
        <div class="hero">
            <video autoplay loop muted>
                <source src="~/Media/movie/azizz.mp4" type="video/mp4">
            </video>
            <div class="hero-content">
            </div> 
        </div>
        <div class="login-container">
            <a href="~/Home/Index">
                <img src="~/Media/StaticImage/logo.png" alt="">
            </a>            
            <form action="#" method="post">
                <input type="text" name="KullaniciAdi" placeholder="Kullanıcı Adı" required>
                <input type="password" name="Sifre" placeholder="Şifreniz" required>
                <input class="btn" type="submit" value="Giriş Yap">
            </form>
        </div>
    </div>
</body>
</html>