
@{
    ViewData["Title"] = "Kurumsal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/kurumsal.css">
<div class="hero">
    <img src="~/Media/StaticImage/azizz_Moment.jpg" alt="">
    <div><h1>KURUMSAL</h1></div>
</div>
<div class="container">
    <div class="aciklama-container">
        <div class="image-container">
            <img src="~/Media/StaticImage/hakım.jpg" alt="">
        </div>      
        <div class="aciklama">
            <h2>Hakımızda</h2>
            <hr>
            <p>
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
    <div class="aciklama-container">
        <div id="sec" class="aciklama">
            <h2>Misyonumuz</h2>
            <hr>
            <p>
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="image-container">
            <img src="~/Media/StaticImage/misyon.jpg" alt="">
        </div>
        
    </div>
    <div class="aciklama-container">
        <div class="image-container">
            <img src="~/Media/StaticImage/vizyon.jpg" alt="">
        </div>      
        <div class="aciklama">
            <h2>Vizyonumuz</h2>
            <hr>
            <p>
                Lorem Ipsum is simply dummy text of the printing and
                typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a
                type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
</div>