@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}

<link rel="stylesheet" href="~/css/Panel/danismans.css">
<div style="text-align:center;" class="content">
          
    <h1 style="margin-top:50px;">Bu Alana Girş Yetkiniz Bulunmamaktadır.</h1>

</div>
